<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-2">
            <a routerLink="/register" routerLinkActive="active">Register</a>
        </div>
        <div class="col-md-2">
            <a routerLink="/preview" routerLinkActive="active">preview</a>
        </div>
        <div class="col-md-2">
            <a routerLink="/publish" routerLinkActive="active">publish</a>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
<router-outlet></router-outlet>