<div class="row mt-4 ml-4">
    <div class="col-md-6">
        <form #name="ngForm">
            header
            <br>
            <input type="text" name="header" [(ngModel)]="header">
            <br>
            <br>
            <br> sub-heading
            <br>
            <textarea type="text" name="text" [(ngModel)]="text"></textarea>
            <br>
            <br>
            <br> Image
            <br>
            <input type="file" accept="image/*" id="bannerImage" onchange="showMyImage(this)" />
            <br/>
            <br/>
            <br/>
            <button type="button" (click)="myfun(name)" routerLink="/preview">submit</button>
        </form>


    </div>
    <div class="col-md-6 mt-4">
        <h1>{{header}}</h1>
        <br/>
        <br/>
        <br/>
        <h3>{{text}}</h3>
        <br/>
        <br/>
        <br/>
        <div class="img">
            <img id="thumbnil" style="width:20%; margin-top:10px;" src="" />
        </div>

        <br/>
        <br/>
        <br/>



    </div>
</div>